# if cloning , the requirements for it
pandas==2.2.0
numpy==1.26.4
scikit-learn==1.4.0
matplotlib==3.8.2
seaborn==0.13.2
jupyter==1.0.0
joblib==1.5.2
pyodbc==5.2.0
pymssql==2.3.13
Faker==37.6.0
python-dotenv==1.1.1